<div id="body-fullpage" >
  <div class="section welcome-section fp-section fp-table">
    <div class="fp-tableCell">
      <div class="container">
        <div class="section-body">
          <div class="title-span"></div>
          <h1>Education</h1>
          <div class="title-span"></div>
          <h4>Truman State University</h4>
          <p>B.S. in Computer Science</p>
          <p>Graduated with Honors in Computer Science</p>
          <p>Minor in Business Administration</p>
        </div>
      </div>
    </div>
  </div>
  <div class="section welcome-section fp-section fp-table">
    <div class="fp-tableCell">
      <div class="container">
        <div class="section-body">
          <div class="title-span"></div>
          <h1>Interests</h1>
          <div class="title-span"></div>
          <br>
          <p>I am a software developer whose interests have expanded to mobile
            applications. Through personal projects, my knowledge base now
            includes Ionic 2, iOS and Android. What fascinates me about the
            mobile industry is the ability to directly engage users and make
            complicated tasks easier.
          </p>
          <br>
          <div *ngIf="!viewportSmall" [@flyInOut]="viewportSmall">
            <h4>Other technology interests</h4>
            <ul>
              <li>React</li>
              <li>React Native</li>
              <li>MEAN Stack</li>
              <li>Unity</li>
              <li>Internet of Things (IoT)</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
