<div id="body-fullpage" >
  <!-- <div class="section welcome-section fp-section fp-table">
    <div class="fp-tableCell">
      <div class="container">
        <div class="section-body">
          <h1>Bio</h1>
          <p>Nam ullamcorper justo a dolor auctor, eu faucibus risus eleifend.
            Maecenas metus quam, mollis sed felis vitae, ultrices elementum metus.
            Orci varius natoque penatibus et magnis dis parturient montes, nascetur
            ridiculus mus. Aenean quis dolor id elit ornare viverra. Ut fermentum,
            lectus a faucibus hendrerit, orci sapien pretium ipsum, sed tristique lorem
            neque ac sapien. Etiam et elit orci. Sed cursus risus volutpat facilisis
            congue. Nunc ut finibus lorem. Mauris tristique ullamcorper ipsum, eu elementum
            orci mattis quis. Maecenas sem neque, lobortis at lobortis a, malesuada aliquet
            nunc. Morbi et est eu lacus volutpat feugiat vel in massa. Fusce gravida diam
            ex, non tempor ex fermentum quis. Suspendisse ut sapien dui. Fusce pulvinar,
            dui sed viverra sodales, metus odio interdum tellus, nec maximus leo enim sed
            tortor. Aenean mollis mi a sem porttitor, non congue nisl auctor.
          </p>
        </div>
      </div>
    </div>
  </div> -->
  <div class="section welcome-section fp-section fp-table">
    <div class="fp-tableCell">
      <div class="container">
        <div class="section-body">
          <h1>Education</h1>
          <ul>
            <li>Truman State University</li>
            <li>B.S. in Computer Science</li>
            <li>Graduated with Honors in Computer Science</li>
            <li>Minor in Business Administration</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="section welcome-section fp-section fp-table">
    <div class="fp-tableCell">
      <div class="container">
        <div class="section-body">
          <h1>Interests</h1>
          <p>I am a software developer whose interests have expanded to mobile
            applications. Through personal projects, my knowledge base now
            includes Ionic 2, iOS and Android. What fascinates me about the
            mobile industry is the ability to directly engage users and make
            complicated tasks easier.
          </p>
          <p>Other technology interests</p>
          <ul>
            <li>React</li>
            <li>React Native</li>
            <li>MEAN Stack</li>
            <li>Unity</li>
            <li>Internet of Things (IoT)</li>
          </ul>

        </div>
      </div>
    </div>
  </div>
</div>
