<div id="body-fullpage" >
  <div class="section welcome-section fp-section fp-table">
    <div class="fp-tableCell">
      <div class="container">
        <div class="section-body">
          <div class="title-span"></div>
          <h1>AT&amp;T</h1>
          <div class="title-span"></div>
          <h4>Specialist Application Developer</h4>
          <h5>June 2015 - Present</h5>
          <ul>
            <li>Developed and maintained an internal web application to track the Software Resiliency Engineering (SRE) team’s interactions and findings from other teams.

                  <span class="highlight">Nominated for the Making a Difference Program by the SRE team.</span>
            </li>
            <!-- <li>
              Worked on a middleware layer of an application used by DIRECTV and U-Verse technicians to easily run network diagnostics.

                  Called APIs, exposed data in specific formats, and relayed error messages based on business requirements.

                  Mentored and helped onboard a new team member.
            </li> -->
            <li>
              Developed and maintained frontend for Intelligent Test Data Management (internal website).
            </li>
            <li>
              Participated in two company-wide Hackathons.

                  <!-- Made a website to enable employees to view coworker’s skills and completed training. -->

                  <span class="highlight">Hackathon Finalist (top 7 of 33 teams).</span> Created a multiplatform mobile application, using Ionic 2, to track dumpsters that need to be serviced. Utilized Google Maps APIs to optimize routes with multiple waypoints. Connected to an AT&amp;T IoT Starter kit with a proximity sensor to query when dumpsters need to be emptied.

            </li>
            <li>
              Joined AT&amp;T’s Think-Tank Initiative.

                Collaborated with others to invent more cost-effective methods to recognize team members.

                Assisted in formulating concepts to improve employee satisfaction through internal job-shadowing.

            </li>
          </ul>
          <div>
            <p>
            Languages and Technologies: Java, Angular, HTML, CSS/SCSS, Bootstrap, JavaScript, JQuery, Spring, MySQL, Ionic 2, JSON, XML, git, SVN, and assorted frontend web frameworks.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section welcome-section fp-section fp-table">
    <div class="fp-tableCell">
      <div class="container">
        <div class="section-body">
          <div class="title-span"></div>
          <h1>Cerner</h1>
          <div class="title-span"></div>
          <h4>Software Engineer Intern</h4>
          <h5>May - August 2014</h5>
          <ul>
            <li>
              Assigned and completed multiple tasks utilizing Agile methodology going through requirements, developing, and testing.
            </li>
            <li>
              Attended and participated in daily Scrum meetings.
            </li>
            <li>
              Collaborated with team members daily to better fulfill job criteria.
            </li>
            <li>
              Languages and Technologies: Java, HTML, CSS, JavaScript, JQuery, Eclipse, Clover, Maven, git, JIRA, Jenkins, and Crucible.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="section welcome-section fp-section fp-table">
    <div class="fp-tableCell">
      <div class="container">
        <div class="section-body">
          <div class="title-span"></div>
          <h1>Vert</h1>
          <div class="title-span"></div>
          <h4>iOS Application</h4>
          <h5>April - July 2016</h5>
          <ul>
            <li>
              Enables users to find others around them based on location, then view their profiles and other social network profiles (Facebook, Twitter, and LinkedIn).
            </li>
            <li>
              In order to be energy efficient, location is monitored based on Significant Location Updates from the device.
            </li>
            <li>
              Uses Firebase and GeoFire for backend services.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="section welcome-section fp-section fp-table">
    <div class="fp-tableCell">
      <div class="container">
        <div class="section-body">
          <div class="title-span"></div>
          <h1>Anchor</h1>
          <div class="title-span"></div>
          <h4>iOS Application</h4>
          <h5>June - July 2016</h5>

          <ul>
            <li>
              Anchor utilizes MapKit and GPS to enable users to find, save, and get directions to their favorite locations.
            </li>
          </ul>

        </div>
      </div>
    </div>
  </div>
  <div class="section welcome-section fp-section fp-table">
    <div class="fp-tableCell">
      <div class="container">
        <div class="section-body">
          <div class="title-span"></div>
          <h1>Other Projects</h1>
          <div class="title-span"></div>
          <p>unity</p>
          <p>anchor</p>
          <p> this website</p>

        </div>
      </div>
    </div>
  </div>
  <div class="section welcome-section fp-section fp-table">
    <div class="fp-tableCell">
      <div class="container">
        <div class="section-body">
          <div class="title-span"></div>
          <h1>Hack Mizzou</h1>
          <div class="title-span"></div>
          <h4>Android Application</h4>
          <h5>October 2014</h5>
          <ul>
            <li>
              Awarded the best Android application out of 60 Teams.
            </li>
            <li>
              Created an Android application for users to share their geographic locations with friends. The receiver of a location can then get directions with one easy click of a button.
            </li>
          </ul>

        </div>
      </div>
    </div>
  </div>
</div>
