<div id="body-fullpage" >
  <div class="section welcome-section fp-section fp-table">
    <div class="fp-tableCell">
      <div class="container">
        <div class="section-body">
          <div class="title-span"></div>
          <h1>AT&amp;T</h1>
          <div class="title-span"></div>
          <h4>Specialist-Applications Developer</h4>
          <h5>June 2015 - Present</h5>
          <p>Developed and maintained multiple internal websites; to track both
            the Software Resiliency Engineering (SRE) team’s interactions and
            findings from other teams, as well as enhancing the frontend for
            Intelligent Test Data Management.
            <span class="highlight">
              Nominated for the Making a Difference Program by the SRE team.
            </span>
          </p>
          <br>
          <p>
            Participated in two company-wide Hackathons.
            <span class="highlight">
              Hackathon Finalist (top 7 of 33 teams).
            </span>
            <span *ngIf="!viewportSmall" [@flyInOut]="viewportSmall">
              Created a multiplatform mobile application
              to track dumpsters that need to be serviced. Technologies used:
              Ionic 2, Google Maps API, AT&amp;T IoT Starter kit.
            </span>
          </p>
          <br>
          <p>
            Additional information can be found:
            <br>
            <a href="../../assets/TylerMcCrearyResume.pdf" download>R&eacute;sum&eacute;</a>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="section welcome-section fp-section fp-table">
    <div class="fp-tableCell">
      <div class="container">
        <div class="section-body">
          <div class="title-span"></div>
          <h1>Cerner</h1>
          <div class="title-span"></div>
          <h4>Software Engineer Intern</h4>
          <h5>May - August 2014</h5>
          <p>
            Assigned and completed multiple tasks utilizing Agile methodology
            going through requirements, developing, and testing.
          </p>
          <br>
          <p>
            Participated in daily Scrum meetings.
          </p>
          <br>
          <p>
            Collaborated with team members daily to better fulfill job criteria.
          </p>
          <br>
          <div *ngIf="!viewportSmall" [@flyInOut]="viewportSmall">
            <h4>
              Languages and Technologies:
            </h4>
            <p>
              Java, HTML, CSS, JavaScript, JQuery, Maven, git, JIRA,
              Jenkins, and Crucible.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section welcome-section fp-section fp-table">
    <div class="fp-tableCell">
      <div class="container">
        <div class="section-body">
          <div class="title-span"></div>
          <h1>Vert</h1>
          <div class="title-span"></div>
          <h4>iOS Application</h4>
          <h5>April - July 2016</h5>
          <p>
            Enables users to find others around them based on location, and
            view their social network profiles (Facebook, Twitter, and LinkedIn).
          </p>
          <br>
          <div *ngIf="!viewportSmall" [@flyInOut]="viewportSmall">
            <p>
              In order to be energy efficient, location is monitored based on
              Significant Location Updates from the device.
            </p>
            <br>
          </div>
          <p>
            Uses Firebase and GeoFire for backend services.
          </p>
          <p>
            <a href="https://itunes.apple.com/us/app/vert-social-networking/id1125768379?mt=8" target="_blank">
              Vert
            </a>
            can be found on the app store.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="section welcome-section fp-section fp-table">
    <div class="fp-tableCell">
      <div class="container">
        <div class="section-body">
          <div class="title-span"></div>
          <h1>Other Projects</h1>
          <div class="title-span"></div>
          <h4>Anchor</h4>
          <p>
            Anchor is an iOS application utilizes MapKit and GPS to enable
            users to find, save, and get directions to their favorite locations.
            <a href="https://itunes.apple.com/us/app/anchor-remember-your-favorite-locations/id1133763169?mt=8" target="_blank">
              Anchor
            </a>
            can be found on the app store.
          </p>
          <br>
          <div *ngIf="!viewportSmall" [@flyInOut]="viewportSmall">
            <h4>Hack Mizzou 2014</h4>
            <p>Awarded the best Android application out of 60 Teams.</p>
            <br>
            <h4>Additional</h4>
            <p>
              While in school, I made a simple 2D game using
              <a href="https://www.youtube.com/watch?v=rli9OkeGUUo" target="_blank">Unity</a>
            </p>
            <br>
          </div>
          <p>This website was created using Angular 2, Fullpage.js, and Bootstrap.</p>
        </div>
      </div>
    </div>
  </div>
</div>
