<div id="body-fullpage" >
  <div class="section welcome-section fp-section fp-table">
    <div class="fp-tableCell">
      <div class="container">
        <div class="section-body">
          <div class="title-span"></div>
          <h1>AT&amp;T</h1>
          <div class="title-span"></div>
          <h4>Specialist-Applications Developer</h4>
          <h5>June 2015 - Present</h5>
          <ul>
            <br>
            <li>Developed and maintained multiple internal websites; to track both the Software Resiliency Engineering (SRE) team’s
               interactions and findings from other teams, as well as enhancing the
               frontend for Intelligent Test Data Management.
                  <span class="highlight">Nominated for the Making a Difference
                    Program by the SRE team.</span>
            </li>
            <br>
            <li>
              Participated in two company-wide Hackathons.
                  <span class="highlight">Hackathon Finalist (top 7 of 33 teams).
                  </span> Created a multiplatform mobile application
                  to track dumpsters that need to be serviced. Technologies used: Ionic 2, Google Maps
                  API, AT&amp;T IoT Starter kit.
            </li>
            <br>
            <li>
              Additional information can be found:
              <br>
              <a href="../../assets/TylerMcCrearyResume.pdf" download>R&eacute;sum&eacute;</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="section welcome-section fp-section fp-table">
    <div class="fp-tableCell">
      <div class="container">
        <div class="section-body">
          <div class="title-span"></div>
          <h1>Cerner</h1>
          <div class="title-span"></div>
          <h4>Software Engineer Intern</h4>
          <h5>May - August 2014</h5>
          <ul>
            <li>
              Assigned and completed multiple tasks utilizing Agile methodology
              going through requirements, developing, and testing.
            </li>
            <li>
              Attended and participated in daily Scrum meetings.
            </li>
            <li>
              Collaborated with team members daily to better fulfill job criteria.
            </li>
            <li>
              Languages and Technologies: Java, HTML, CSS, JavaScript, JQuery,
              Eclipse, Clover, Maven, git, JIRA, Jenkins, and Crucible.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="section welcome-section fp-section fp-table">
    <div class="fp-tableCell">
      <div class="container">
        <div class="section-body">
          <div class="title-span"></div>
          <h1>Vert</h1>
          <div class="title-span"></div>
          <h4>iOS Application</h4>
          <h5>April - July 2016</h5>
          <ul>
            <li>
              Enables users to find others around them based on location, and
              view their social network profiles (Facebook,
              Twitter, and LinkedIn).
            </li>
            <li>
              In order to be energy efficient, location is monitored based on
              Significant Location Updates from the device.
            </li>
            <li>
              Uses Firebase and GeoFire for backend services.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="section welcome-section fp-section fp-table">
    <div class="fp-tableCell">
      <div class="container">
        <div class="section-body">
          <div class="title-span"></div>
          <h1>Anchor</h1>
          <div class="title-span"></div>
          <h4>iOS Application</h4>
          <h5>June - July 2016</h5>

          <ul>
            <li>
              Anchor utilizes MapKit and GPS to enable users to find, save,
              and get directions to their favorite locations.
            </li>
          </ul>

        </div>
      </div>
    </div>
  </div>
  <div class="section welcome-section fp-section fp-table">
    <div class="fp-tableCell">
      <div class="container">
        <div class="section-body">
          <div class="title-span"></div>
          <h1>Other Projects</h1>
          <div class="title-span"></div>
          <p>unity</p>
          <p>anchor</p>
          <p> this website</p>

        </div>
      </div>
    </div>
  </div>
  <div class="section welcome-section fp-section fp-table">
    <div class="fp-tableCell">
      <div class="container">
        <div class="section-body">
          <div class="title-span"></div>
          <h1>Hack Mizzou</h1>
          <div class="title-span"></div>
          <h4>Android Application</h4>
          <h5>October 2014</h5>
          <ul>
            <li>
              Awarded the best Android application out of 60 Teams.
            </li>
            <li>
              Created an Android application for users to share their
               geographic locations with friends and get directions with one
               easy click of a button.
            </li>
          </ul>

        </div>
      </div>
    </div>
  </div>
</div>
