<div id="mappage">
  <div id="mapContainer"></div>
  <div id="mapDescription">
    <p>
      This map displays the details for many of the concerts that I've been to,
       since going to shows is one of my favorite activities.
      This was created using the Javascript API provided by
      <br>
      <a href="http://here.com" target="_blank">HERE Technologies</a><!--,
      as well as the Javascript API provided by
      <a href="https://www.spotify.com" target="_blank">Spotify</a>.-->
    </p>
  </div>
</div>
