<div>
  <section>
    <div class="container">
      <div class="section-body">
        <div class="title-span"></div>
        <h1>
          {{name}}
        </h1>
        <div class="title-span"></div>
        <h4>Please feel free to contact me via Email or LinkedIn!</h4>
        <div class="icons">
          <a href="https://www.linkedin.com/in/tyler-mccreary-a736b2a4/" target="_blank">
            <i class="fa fa-linkedin-square"></i>
          </a>
          <a href="mailto:tjmccreary@gmail.com">
            <i class="fa fa-envelope"></i>
          </a>
        </div>
        <div>
          <h4>
            R&eacute;sum&eacute;
          </h4>
          <div class="icons">
            <a href="../../assets/TylerMcCrearyResume.pdf" download>
              <i class="fa fa-download"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
