
nav.navbar.shrink {
  min-height: 0px;
  height: 0px;
  opacity: 0;

  .navbar-collapse.collapse ul li a {
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
}

nav.navbar{
   // Animation
   -webkit-transition: all 0.4s ease;
   transition: all 0.4s ease;
}

.container-fluid {
  margin: 0 auto;
  width: 50%;
}
