$interactive: #FF9912;

nav {
  transition: background-color 1s;
  border: none;

  #navbar {
    ul {
      li {
        a {
          color: white;
          font-size: 16px;
          transition: font-size 0.3s ease-in-out;
        }

        a:hover, .is-active {
          color: $interactive;
          font-size: 18px;
        }

        @media only screen and (min-width: 768px) {
          a:hover, .is-active {
            border-bottom: 4px solid #FF9912;
          }
        }
      }
    }


    @media only screen and (max-width: 767px) {
      a {
        display: inline-block;
      }

      .navbar-left {
        a:hover, .is-active {
          border-left: 4px solid $interactive;
        }
      }

      .navbar-right {
        a:hover, .is-active {
          // border-right: 4px solid $interactive;
        }
      }
    }
  }

  .navbar-toggle:hover, .navbar-toggle:focus {
    background-color: rgba(255, 255, 255, .2);
  }
  .navbar-toggle {
    border: none;

    .icon-bar {
      background-color: white;
    }
  }

  .navbar-collapse.show {
    transition: background-color 1s;
  }

  @media only screen and (max-width: 767px) {
    .navbar-collapse.show {
      background-color: rgba(255, 255, 255, .2);
      height: 100vh;

      .navbar-left {
        float: left;
      }

      .navbar-right {
        float: right;
      }
    }
  }
}
