nav.navbar.shrink {
  min-height: 0px;
  height: 0px;
  opacity: 0;

  .navbar-collapse.collapse ul li a, .navbar-toggle.collapsed {
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
}

.nav.navbar-nav {
  width: 300px; //45%;
  margin: 0 auto;
  float: none;
}

@media only screen and (min-width: 768px) {
  .navbar-collapse.collapse li a:hover, .navbar-default .navbar-nav .is-active {
    color: #ced0cd;
    border-bottom: 4px solid #ced0cd;
  }
}

@media only screen and (max-width: 767px) {
  .nav.navbar-nav {
    width: 90%;
    margin: 0 auto;
    float: none;
  }

  .navbar-collapse.collapse li a:hover, .navbar-default .navbar-nav .is-active {
    color: #ced0cd;
    border-left: 4px solid #ced0cd;
  }
}

nav.navbar{
   // Animation
   -webkit-transition: all 0.4s ease;
   transition: all 0.4s ease;
}
