<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">

        <div class="navbar-header">
            <button type="button" (click)="isCollapsed = !isCollapsed" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <div id="navbar" class="navbar-collapse collapse" [collapse]="isCollapsed">
            <ul class="nav navbar-nav">
                <li router-active>
                    <a [routerLinkActive]="['is-active']" routerLink="/home" (click)="collapse()">
                      HOME
                      <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li router-active>
                    <a  [routerLinkActive]="['is-active']" routerLink="/about" (click)="collapse()">
                      ABOUT
                      <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li router-active>
                    <a [routerLinkActive]="['is-active']" routerLink="/experience" (click)="collapse()">
                      EXP
                      <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li router-active>
                    <a [routerLinkActive]="['is-active']" routerLink="/contact" (click)="collapse()">
                      CONTACT
                      <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li router-active>
                    <a [routerLinkActive]="['is-active']" routerLink="/map" (click)="collapse()">
                      MAP
                      <span class="sr-only">(current)</span>
                    </a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li>
                <a href="https://www.linkedin.com/in/tyler-mccreary-a736b2a4/" target="_blank">
                  <i class="fa fa-linkedin"></i>
                </a>
              </li>
              <li>
                <a href="https://github.com/tylermccreary" target="_blank">
                  <i class="fa fa-github"></i>
                </a>
              </li>
              <li>
                <a href="mailto:tjmccreary@gmail.com">
                  <i class="fa fa-envelope"></i>
                </a>
              </li>
              <li>
                <a href="../../assets/TylerMcCrearyResume.pdf" download>
                  <i class="fa fa-download"></i>
                </a>
              </li>
            </ul>
        </div>
    </div>
</nav>

<router-outlet></router-outlet>
