<section class="bio">
  <h2>{{title}}</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Aenean at libero vestibulum, tincidunt tortor ac, eleifend eros.
    Fusce ultricies sem ut interdum luctus. Suspendisse id eleifend neque.
    Pellentesque quis molestie risus, quis porta dolor. Proin luctus
    risus non lacus faucibus, id scelerisque nisi viverra. Vestibulum
    consectetur, turpis ac varius imperdiet, ante tellus accumsan lorem,
    ut tincidunt nibh elit vel risus. Nullam tristique, diam quis dictum
    porttitor, turpis ante tempus odio, a iaculis mi dolor in dui. Morbi
    vulputate at nunc ac rutrum. Morbi sit amet cursus nunc. Suspendisse
    aliquet fringilla erat, eget scelerisque urna ullamcorper at. Etiam erat arcu,
    lobortis dapibus congue non, malesuada varius justo
  </p>

  <a [routerLink]="['./']" fragment="coding">Testing</a>
</section>
