#linkedin-photo {
  border-radius: 50%;
  height: 20vh;
  width: auto;
  margin: 5%;
  border: 2px solid white;
}

.title-span {
  margin: 0 auto;
  width: 250px;
  height: 2px;
  background-color: #FF9912;
}

h1 {
  margin-top: 10px;
}


.fp-section {
  opacity: 1;
}
