<div>
  <section>
    <div class="container">
      <div class="section-body">
        <div class="title-span"></div>
        <h1>
          {{name}}
        </h1>
        <div class="title-span"></div>
        <h4>
          {{description}}
        </h4>
        <img id="linkedin-photo" src="assets/images/LinkedInPicture.jpg">
        <div class="icons">
            <a href="https://www.linkedin.com/in/tyler-mccreary-a736b2a4/" target="_blank">
              <i class="fa fa-linkedin-square"></i>
            </a>
            <a href="https://github.com/tylermccreary" target="_blank">
              <i class="fa fa-github-square"></i>
            </a>
            <a href="https://bitbucket.org/tmccreary/" target="_blank">
              <i class="fa fa-bitbucket-square"></i>
            </a>
        </div>
      </div>
    </div>
  </section>
</div>
