<h1>
  {{name}}
</h1>
<h2>
  {{description}}
</h2>

<div class="menu-wrapper">
    <ul class="menu">
        <li data-menuanchor="menuAnchor1" class="active"><a href="#menuAnchor1">First section</a></li>
        <li data-menuanchor="menuAnchor2"><a href="#menuAnchor2">Second section</a></li>
        <li data-menuanchor="menuAnchor3"><a href="#menuAnchor3">Third section</a></li>
    </ul>
</div>

<div id="home-fullpage" mnFullpage>
  <div class="section welcome-section fp-section fp-table">
    <div class="fp-tableCell">
      1
    </div>
  </div>
  <div class="section welcome-section fp-section fp-table">
    <div class="fp-tableCell">
      2
    </div>
  </div>
  <div class="section welcome-section fp-section fp-table">
    <div class="fp-tableCell">
      3
    </div>
  </div>
</div>
